@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
  /* background-color: rgb(92, 90, 90); */
}
.middle {
  max-width: 1520px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.dashboard {
  height: 300px;
  max-width: 300px;
  min-width: 140px;
  width: 100%;
  background-color: rgb(211, 127, 10);
}
.gameCanvas-container {
  width: 1164px;
  height: 620px;
  position: relative;
}
.pause {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.start {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: blue;
  top: 20px;
  right: 60px;
}

/* --------Navbar------------- */
.navbar {
  background: #141621;
  height: 70px;
  width: 100%;
  display: block;
}
.navbar .navbar-central-content {
  background: inherit;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-central-content .left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-central-content .left-navbar div {
  margin: 0 1rem;
  color: rgb(243, 231, 231);
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: 0.34px;
}
.navbar .navbar-central-content .left-navbar div:hover {
  color: rgb(129, 167, 189);
}
.navbar .navbar-central-content .right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-central-content .right-navbar div {
  margin: 0 1rem;
}
.navbar .navbar-central-content .right-navbar div.hero-info span {
  display: block;
  color: whitesmoke;
}
.navbar .navbar-central-content .right-navbar div.hero-info span.online {
  color: #07ef9c;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

/* -----------button------ */
.button {
  background-color: transparent;
  border: 4px solid #375d8c;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  line-height: 1;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
  margin-left: 3rem;
  width: 120px;
}

.button a {
  color: #d8d8d8;
  font-family: "Varela Round";
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.button .shift {
  display: inline-block;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: text-top;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
  color: #fff;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
  transform: translateX(5px);
}

.button:active {
  background-color: #fff;
}

.button:active a {
  color: #202020;
}
/* --------------------Button--------------------- */
