@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;

  background-color: #1a1d25;
}

/* --------Navbar------------- */
.navbar {
  background: #15171d;
  height: 70px;
  width: 100%;
  display: block;
}
.navbar .navbar-central-content {
  background: inherit;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-central-content .left-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-central-content .left-navbar div {
  margin: 0 1rem;
  color: rgb(243, 231, 231);
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: 0.34px;
}
.navbar .navbar-central-content .left-navbar div:hover {
  color: rgb(129, 167, 189);
}
.navbar .navbar-central-content .right-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar-central-content .right-navbar div {
  margin: 0 1rem;
}
.navbar .navbar-central-content .right-navbar div.hero-info span {
  display: block;
  color: whitesmoke;
}
.navbar .navbar-central-content .right-navbar div.hero-info span.online {
  color: #07ef9c;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

/* -------------------Navbar End------------------ */
.middle {
  max-width: 1520px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.dashboard {
  max-width: 340px;
  min-width: 250px;
  margin-top: 2px;
  margin-left: 0.5vw;
  width: 100%;
  background: linear-gradient(
    60deg,
    rgba(39, 39, 39, 0),
    rgba(255, 255, 255, 0.02)
  );
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 9px;
  box-shadow: 0 2px 40px rgba(255, 255, 255, 0.032);
  position: relative;
}
.dashboard .score-container {
  width: 94%;
  margin: 16px 2.5%;
}
.dashboard .score-main {
  position: absolute;
  top: 48px;
  left: 27%;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.dashboard .choose-bullet-container {
  box-sizing: border-box;
  width: 94%;
  margin: 16px 2.5%;
  margin-top: -12px;
  padding: 16px 12px;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.3);
  color: azure;
  font-weight: 600;
  font-size: 1.2rem;
}
.line {
  width: 96%;
  margin: 10px;
  height: 1.86px;
  background-color: rgba(83, 85, 83, 0.185);
}
.dashboard .choose-bullet-container .weapon-circles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.dashboard .choose-bullet-container .weapon-circles img {
  margin: 6px 0;
  cursor: pointer;
}
.white-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 18px;
}
.white-title span {
  font-size: 0.8rem;
}
/* -------------------------Stats Section---------------------- */
.status-container {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.status-container .stat-img img {
  width: 55px;
  height: 55px;
}
.status-container .stat-status {
  width: 55px;
  color: white;
}
.stat-bar {
  position: relative;
  width: 190px;
  height: 12px;
  background-color: #07d289;
  margin-top: 24px;
  margin-left: 18px;
  transform: skew(-38deg, 0deg);
  z-index: 100;
  border-radius: 6px;
}
.stat-bar::before {
  content: ".";
  color: thistle;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(216, 191, 216, 0.185);
  width: 190px;
  height: 12px;
  z-index: -10;
  border-radius: 6px;
}
.green {
  color: #07ef9c;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
.stat-container-parent {
  width: 100%;
  margin: 8px 0;
}
.stat-container-parent .one {
  /* vertical-align: top; */
  display: inline-block;
  width: 29%;
  height: 60px;
}
.stat-container-parent .two {
  vertical-align: top;
  display: inline-block;
  width: 67%;
  height: 60px;
}
@media (max-width: 1440px) {
  .stat-container-parent {
    margin-bottom: 0;
  }
  .stat-container-parent .two {
    width: 100%;
    padding-left: 25px;
    height: 40px;
  }
  .stat-container-parent .one {
    width: 100%;
  }
  .stat-bar {
    margin-top: 6px;
  }
  .last-container {
    display: none;
  }
}

/* -------------------------Game Canvas---------------------- */
.gameCanvas-container {
  width: 1164px;
  height: 620px;
  position: relative;
}
.pause {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.start {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: blue;
  top: 20px;
  right: 60px;
}

/* -----------button------ */
.button {
  background-color: transparent;
  border: 4px solid #375d8c;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  line-height: 1;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    border 1s cubic-bezier(0.19, 1, 0.22, 1),
    color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
  margin-left: 3rem;
  width: 120px;
}

.button a {
  color: #d8d8d8;
  font-family: "Varela Round";
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.button .shift {
  display: inline-block;
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: text-top;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
  color: #fff;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
  transform: translateX(5px);
}

.button:active {
  background-color: #fff;
}

.button:active a {
  color: #202020;
}
/* --------------------Button--------------------- */
