* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game::before {
  content: "";
  background-image: linear-gradient(
      217deg,
      rgba(100, 0, 0, 0.089) 60%,
      rgba(0, 0, 0, 0.253)
    ),
    url("../asset/images/pattern.jpg");
  background-size: cover;
  filter: blur(3px);
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
.canvas {
  min-width: 1200px;
  height: 620px;
  background-image: url("../asset/images/background.jpg");
  background-size: cover;
  box-shadow: rgba(161, 161, 206, 0.144) 0px 30px 60px -12px,
    rgba(250, 250, 250, 0.199) 0px 18px 80px -38px;
  border-radius: 20px;
  border: 4px solid #232c4323;
  position: relative;
  overflow: hidden;
}
.canvas #main-character {
  display: block;
  position: absolute;
  bottom: 100px;
  right: 100px;
}
